h1{
    color:darkorange;
    text-align: center;
    background-color:deepskyblue;
}

h2{
    color:darkturquoise;
    text-align: center;
    background-color:beige;
}

h3{
    color:#0000ff;
}

h4{
    color:#ff00ff;
}

body{
    background-image: url("../images/04.jpg");
    background-attachment: fixed;
    
}